<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Board">
    <insert id="save" parameterType="board">
        insert into board_table(boardId,boardTitle,boardWriter,boardPassword, boardContents, boardHits,boardCreatedDate )
        values(#{boardId},#{boardTitle},#{boardPassword},#{boardContents},#{boardHits},#{boardCreatedDate},now())
    </insert>
    <select id="findAll" parameterType="board">
        select *from board_table order by id aesc
    </select>
    <select id="findById" parameterType="Long">
        select *from board_table where id=#{id}
    </select>
    <update id="updateHits" parameterType="Long">
        update board_tabel set boardHits = boardHits +1 where id=#{id}
    </update>
    <update id="delete" parameterType="Long">
        delete from board_table where id=#{id}
    </update>
    <update id="update" parameterType="board">
        update board_table set boardTitle=#{boardTitle},boardContents=#{boarContents} where id=#{id}
    </update>
    <insert id="saveFile" parameterType="board">
        insert into board_table(boardId,boardTitle,boardWriter,boardPassword, boardContents, boardHits,boardCreatedDate boardFileNmae)
        values(#{boardId},#{boardTitle},#{boardPassword},#{boardContents},#{boardHits},#{boardCreatedDate},now() #{boardFileName})
    </insert>

</mapper>














